import { Logger } from '@nestjs/common';
import { NestFactory } from '@nestjs/core';

import { <%= getRootModuleName() %> } from './<%= getRootModulePath() %>';

export async function bootstrap() {
  const app = await NestFactory.create(<%= getRootModuleName() %>);
  const port = process.env.PORT || 3333;
  await app.listen(port, () => {
    Logger.log('Listening at http://localhost:' + port);
  });
}
